.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 3.2rem;
}