header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img {
    height: 60px;
    width: 60px;
    margin-left: 0;
    margin-right: 16px;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 3.2rem;
}

.coin-container {
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    height: 400px;
}

.picker-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #dbdbdb;
}

.picker-input {
    width: 40%;
    text-align: center;
    padding: 10px 20px;
    align-self: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
}

.picker-output {
    width: 40%;
    text-align: center;
    padding: 10px 20px;
    align-self: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
}

.coin {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: #0a0f14;
    margin-right: 10px;
    border: 0.1px solid #fff;
}

.change-container {
    width: 20%;
    padding: 10px 10px;
}

.converter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 0;
    height: 400px;
}

.input {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border-radius: 0;
    background-color: #2b3b4a;
    border: 1px solid #fff;
}

.output {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border-radius: 0;
    border: 1px solid #fff
}

.output-none {
    display: none;
}